.layout {
  display: flex;
  height: 100vh; 

  /* 사이드바 */
  .side-container {
    flex: 0 0 200px; 
    background-color: #4e69bd;
  }

  /* 메인 컨테이너 */
  .main-container {
    flex: 1; 
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;

    /* 헤더 */
    .header {
      height: 60px; 
      background-color: #eee;
    }

    /* 메인*/
    .content {
      flex: 1; 
      background-color: #f5f6fb;
      padding: 30px 30px;
    }
  }
}
