.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;

  .main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .content {
      flex: 1;
      padding: 10px;
      overflow-y: auto;
    }
  }
}