.layout {
  display: flex;
  height: 100vh;
  overflow: hidden; // 전체 레이아웃 넘침 방지

  /* 사이드바 */
  .side-container {
    flex: 0 0 200px;
    background-color: #4e69bd;
    overflow-y: auto; // 사이드바 내용이 길 경우 스크롤
  }

  /* 메인 컨테이너 */
  .main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 0; // flex 아이템 최소 너비 설정
    box-sizing: border-box; // 패딩을 너비에 포함

    /* 헤더 */
    .header {
      height: 5%;
      background-color: #eee;
      min-height: 5%; // 헤더 고정 높이
    }

    /* 메인*/
    .content {
      flex: 1;
      background-color: #f5f6fb;
      padding: 1%;
      overflow-y: auto; // 내용이 길 경우 스크롤
      box-sizing: border-box; // 패딩을 너비에 포함
    }
  }
}