$primary-color: #4e69bd;
$secondary-color: #eee;
$text-color: #333;
$icon-color: rgba(255, 255, 255, 0.5);

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

.container {
    display: flex;
    height: 100%;

    .sidebar {
        width: 100px;
        background-color: $primary-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;

        .logo {
            width: 40px;
            height: 40px;
            background-color: white;
            margin-bottom: 30px;
        }
        .tabs {
            width: 100%;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .tab {
            width: 100%;
            height: 100px;
            cursor: pointer;
            border-radius: 5px 0 0 5px;
            transition: background-color 0.3s ease;
            text-align: center;
            color: #fff;
            

            h1 {
                margin: 20px 0 5px 0;
            }
            p {
                margin: 0;
            }
            &:active {
                background-color: white;
                color: $primary-color;
            }
        }
        .tab.active {
            background-color: #fff;
            color: #4e69bd;
        }
    }

    .main-content {
        width: 20%;
        padding: 20px;
        overflow-y: auto;

        .user-info {
            text-align: center;
            margin-bottom: 20px;

            .avatar {
                width: 80px;
                height: 80px;
                background-color: $secondary-color;
                border-radius: 50%;
                margin: 0 auto 10px;
            }

            .user-name {
                font-weight: bold;
                font-size: 1.3em;
            }

            .user-id {
                color: #888;
                font-size: 0.9em;
            }

            h1{
                margin: 0 0 20px 0;
                color: $primary-color;
            }
        }

        .menu {
            border-top: 1px solid $secondary-color;
            padding-top: 10px;

            .menu-item {
                padding: 10px 0;
                font-weight: bold;

                &::before {
                    content: '◆';
                    color: $primary-color;
                    margin-right: 10px;
                }

                &.active::after {
                    content: '▼';
                    float: right;
                }
            }

            .submenu {
                padding-left: 35px;
                
                .submenu-item {
                    padding: 15px 0;
                    border-bottom: 1px solid $secondary-color;                    
                    color: $text-color;
                }
            }
        }
        .tab-content > .menu {
            display: none;
        }
    }
}