$primary-color: #4a69bd;
$secondary-color: #f1f2f6;
$text-color: #2f3542;
$border-color: #dfe4ea;



*{
    font-family: "Noto Sans KR", sans-serif;
}


body {
    font-family: 'Arial', sans-serif;
    color: $text-color;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 1300px;
    height: 600px;

}

.header{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #4a69bd;

    h1{
        color: #fff;
        font-size: 1.5em;
        text-align: left;
        margin-left: 10px

    }
}

.footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 5px;
    background-color: #2f3542;

    p{
        text-align: center;
        color: #fff;
        margin: 0;
    }       
}

.content {
    display: flex;
    padding: 30px;
}

.announcements {
    flex: 2;
    margin-right: 20px;

    h2 {
        background-color: $primary-color;
        color: white;
        padding: 10px;
        margin: 0;
        border-radius: 5px 5px 0 0;
        font-size: 1em;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        max-height: 400px;
        overflow-y: auto;
        border: 1px solid $border-color;
        border-top: none;
        border-radius: 0 0 5px 5px;
        cursor: pointer;

        li {
            font-size: 0.8em;
            padding: 10px;
            border-bottom: 1px solid $border-color;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: background-color 0.3s;

            &:hover {
                background-color: $secondary-color;
            }

            &:last-child {
                border-bottom: none;
            }

            .title {
                flex: 1;
                font-weight: 500;
            }

            .date {
                color: $primary-color;
                font-size: 0.9em;
            }
        }
    }
}

.login-form {
    flex: 1;
    padding: 20px;
    background-color: $secondary-color;
    border-radius: 5px;

    h2 {
        text-align: center;
        color: #000;
        font-size: 2em;
    }

    input[type="text"],
    input[type="company"],
    input[type="password"] {
        width: 92%;
        height: 40px;
        padding: 12px;
        margin-bottom: 15px;
        border: 1px solid $border-color;
        border-radius: 4px;
        font-size: 1em;
        transition: border-color 0.3s;
        
        &:focus {
            border-color: $primary-color;
            outline: none;
        }
    }

    .checkbox {
        margin-bottom: 10px;
        label {
            align-items: center;
            cursor: pointer;
            input[type="checkbox"] {
                margin-right: 10px;
            }
        }
    }

    button {
        width: 100%;
        padding: 17px;
        background-color: $primary-color;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1.3em;
        transition: background-color 0.3s;

        &:hover {
            background-color: darken($primary-color, 10%);
        }
    }

    .forgot-password {
        display: block;
        margin-top: 15px;
        text-align: center;
        color: $primary-color;
        text-decoration: none;
        font-size: 0.9em;

        &:hover {
            text-decoration: underline;
        }
    }
}


@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .announcements {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .login-form {
        width: 100%;
    }
}
