.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #FFFFFF;

  .title-section {
    h1 {
      font-size: 24px;
      font-weight: bold;
      color: #333;
      padding-left: 11px;
    }
  }

  .right-section {
    display: flex;
    align-items: center;
    gap: 20px;

    .icon-section {
      display: flex;
      gap: 12px;

      .search-bar {
        display: flex;
        align-items: center;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 5px 10px;
        width: 320  px;
        
        .search-input {
          flex-grow: 1;
          border: none;
          outline: none;
          font-size: 16px;
          padding: 5px;
          background: transparent;
          
          &::placeholder {
            color: #aaa;
          }
        }
        
        .search-button {
          background: none;
          border: none;
          cursor: pointer;
          padding: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          
          svg {
            color: #aaa;
          }
          
          &:hover svg {
            color: #666;
          }
        }
      }

      .icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: #FFFFFF;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #e0e0e0;
        }

        svg {
          color: #333;
        }
      }
    }

    .user-section {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px 20px;
      box-shadow: #666;
      background: whitesmoke;

      .user-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }

      .user-name {
        font-size: 14px;
        font-weight: 500;
        color: #333;
      }
    }
  }
}