
.ag-theme-alpine {
    --ag-header-height: 50px;
    --ag-header-foreground-color: #374151;
    --ag-header-background-color: #f9fafb;
    --ag-row-hover-color: #f3f4f6;
    --ag-selected-row-background-color: #e5edff;
    --ag-odd-row-background-color: #ffffff;
    --ag-row-border-color: #f3f4f6;
    --ag-border-color: #e5e7eb;
    
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;

    // 헤더 스타일링
    .ag-header {
        border-bottom: 2px solid #e5e7eb;

        .ag-header-cell {
            background-color: var(--ag-header-background-color);
            transition: background-color 0.2s;

            .ag-header-cell-label {
                color: var(--ag-header-foreground-color);
                font-weight: 600;
                font-size: 14px;
                padding: 0 16px;
                justify-content: center;

                .ag-header-cell-text {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            &:hover {
                background-color: #f3f4f6;
            }
        }

        // 정렬 아이콘 스타일링
        .ag-sort-ascending-icon,
        .ag-sort-descending-icon {
            color: #4e69bd;
        }
    }

    // 행 스타일링
    .ag-row {
        border-bottom: 1px solid var(--ag-row-border-color);
        transition: background-color 0.2s;

        .ag-cell {
            font-size: 14px;
            line-height: 1.5;
            padding: 12px 16px;
            color: #1f2937;
            
            &:not(:last-child) {
                border-right: 1px solid #f3f4f6;
            }
        }

        &:hover {
            background-color: var(--ag-row-hover-color);
        }

        &.ag-row-selected {
            background-color: var(--ag-selected-row-background-color);
        }
    }

    // 페이지네이션 스타일링
    .ag-paging-panel {
        height: 50px;
        border-top: 1px solid var(--ag-border-color);
        color: #4b5563;
        font-size: 14px;

        .ag-paging-button {
            background-color: transparent;
            border: 1px solid #e5e7eb;
            border-radius: 4px;
            padding: 4px 8px;
            margin: 0 2px;
            cursor: pointer;
            transition: all 0.2s;

            &:hover:not(.ag-disabled) {
                background-color: #f9fafb;
                border-color: #d1d5db;
            }

            &.ag-disabled {
                opacity: 0.5;
                cursor: default;
            }
        }

        .ag-paging-row-summary-panel {
            margin: 0 16px;
        }
    }
}

.modal-btn {
    background-color: #4e69bd;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
    transition: all 0.2s ease;
    box-shadow: 0 2px 4px rgba(78, 105, 189, 0.1);

}